.todoItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #3f22b6;
    margin: 5px 0;
}

.strikeThrough {
    text-decoration: line-through;
}
.itemCheckbox {
    width: 16px;
    height: 16px;
    margin: 4px 10px;
}
.itemData {
    display: flex;
    align-items: center;
}
.itemDel {
    padding: 8px 15px;
    background-color: rgba(227, 227, 255, 0.82);
}
