.inputBody {
    display: flex;
    align-items: center;
}
.inputText {
    border: 1px solid rgba(131, 150, 208, 0.75);
    border-radius: 5px;
    padding: 13px 15px;
}
.inputDate {
    border: 1px solid rgba(131, 150, 208, 0.75);
    border-radius: 5px;
    padding: 12px;
    margin-left: 5px;
}
.saveButton {
    margin-left: 5px;
    background-color: rgba(227, 227, 255, 0.82);
    padding: 10px 20px;
}